*{
    margin: 0;
    padding: 0;
   
}
body{
   font-family: 'Bitter', serif;
}
.main-contain{
    display: flex;
    justify-content: space-around;
    background-image: url(../day4/background.jpg);
    background-size: cover;
    padding-top: 30px;
    width: 100vw;
    height: 90vh;
}
.menu li{
    display: inline-block;
    list-style-type: none;
   margin-top: 20px;
   
   
}
.menu li a{
    text-decoration: none;
    padding: 3px 5px;
    background-color: rgb(186, 199, 13);
    
}

h1{
    font-size: 30px;
    margin-top: 15px;
}
.search{
    margin-top: 20px;
   
}
.offer{
    width: 30%;
    margin-top: -240px;
    margin-left: 40px;
    color: #fff;
    padding: 15px 30px;
    height: auto;
    margin-bottom: 5px;
   
}
.color{
    color: rgb(37, 233, 216);
    font-size: 30px;
    
}
.offer h1{
    margin: 10px 0;
}
.offer p{
    margin-bottom: 15px;
}

.button{
  padding: 7px;
  margin-bottom: 5px;
   background-color: rgba(0, 255, 255, 0.747);
    text-decoration: none;
    box-shadow: 10px 10px 3px rgb(49, 29, 228);
}
.second{
    display: flex;
    background-color: #333;
    
   
}

.box{
    margin-top: 40px;
   
   margin: 30px 10px 10px;
   padding: 10px;
   
}
.text{
    text-align: center;
}
.box img{
    width: 100%;
    height: auto;
}
